* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 100px;
    transition: 1s;
}

body:has(.form:hover) {
    background-color: rgba(153, 148, 148);
}


    body:has(.login:hover){
        background-color: skyblue;
    }

        body:has(.na:hover){
        background-color: rgb(52, 122, 52);
    }

            body:has(.fp:hover){
        background-color: rgb(212, 81, 81);
    }

.form {
    width: 396px;
    background-color:  rgba(153, 148, 148, 0.699);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0 0 0;
    box-shadow: 5px 5px 6px 6px black;
    transition: 1s;
    border-radius: 30% 0% 30% 0%;
}

.form:hover {
    background-color: white;
    box-shadow: -5px -5px 6px 6px black;
    border-radius: 0% 30% 0% 30%;
}

.input {
    height: 50px;
    width: 80%;
    padding-left: 10%;
    margin: 5px 10%;
    border: none;
    outline: 1px solid black;
    box-shadow: 5px 5px 5px 0px blue;
    transition: 1s;
    border-radius: 0% 30% 0% 30%;
}

.input:hover {
    outline: 1px solid blue;
    box-shadow: -5px -5px 5px 0px black;
    border-radius: 30% 0% 30% 0%;
}

input::placeholder {
    color: rgb(47, 114, 136);
}

.login {
    background-color: blue;
    height: 50px;
    width: 80%;
    margin: 5px 10%;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    box-shadow: 5px 5px 5px 0px lightblue;
    transition: 1s;
    border-radius: 0% 30% 0% 30%;
}

.login:hover {
    background-color: lightblue;
    box-shadow: -5px -5px 5px 0px blue;
    color: black;
    border-radius: 30% 0% 30% 0%;
}

.na {
    background-color: green;
    margin: 20px 0;
    height: 50px;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    box-shadow: 5px 5px 5px 0px lightgreen;
    transition: 1s;
    border-radius: 0% 30% 0% 30%;
}

.na:hover {
    background-color: lightgreen;
    box-shadow: -5px -5px 5px 0px green;
    color: black;
    border-radius: 30% 0% 30% 0%;
}

.fp {
    text-align: center;
    margin: 0 0 20px 0;
}

.fp:hover {
    color: red;
    cursor: help;
}

.imp {
    text-align: left;

    h1 {
        color: blue;
        font-weight: bold;
        font-size: 50px;
    }

    h3 {
        font-size: 30px;
    }
}

.locate {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .pg {
        margin: 30px 0 0 50px;
    }
}

.secret {
    font-size: 20px;
    color: #ffffff;
}

.hl{
    font-size: 20px;
    color: rgba(153, 148, 148);
}